.softwareBackground{
    position: absolute;
    width: min(max(calc(50vw - 80px), 500px), 1000px);
    aspect-ratio: 1;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 4px;
}
.smallSoftware{
    width: 400px;
}
.softwareSet1{
    top: 40px;
    left: 120px;
}
.softwareSet2{
    top: 100px;
    right: 120px;
}
.softwareSet3{
    top: 200px;
    right: calc(50% - 200px);
}